{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-sm-9">
    <a href="{% url 'produto' produto_id=produto.id %}">
      <h1 class="d-none d-md-block text-secondary text-center text-md-left">{{produto.nome}}</h1>
      <h2 class="d-md-none text-secondary text-center text-md-left">{{produto.nome}}</h2>
    </a>
  </div>
  <div class="col-sm-3">
    <a class="d-none d-md-block btn btn-light text-danger btn-block" href="{% url 'deletar_produto' produto_id=produto.id %}">Delete o Produto</a>
  </div>
  <div class="col-sm-9">
    <p class="text-secondary text-center text-md-left">Edite as informações do produto</p>
  </div>
  <div class="col-sm-3"></div>
</div>

<form class="mb-5" enctype="multipart/form-data" method="post" novalidate>
  <div class="container border-left pr-0 pl-0 pl-md-2">
    {% csrf_token %}
    {% include 'includes/form.html' %}
  </div>
<div class="d-flex flex-row-reverse">
  <button type="submit" class="btn btn-light text-primary">Aplicar mudanças</button>
  <a class="btn btn-light text-secondary mx-3" href="{% url 'produto' produto_id=produto.id %}"> Cancelar</a>
</div>
</form>

{% endblock %}
